<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ShareMyBook</title>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
     <script src="/javascripts/book_view.js">
     </script>
<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="ui padded stackable grid">
      <div class="one wide black column computer only">
      </div>
      <div class="fifteen wide black column">
        <div class="ui segments">
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img  class="ui image computer only grid"src="/images/smblogo2.PNG" alt="Logo"></a>
          </div>
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img class="ui small image mobile only grid" src="/images/smblogo2.PNG" alt="Logo"></a>
          </div>
          <!--Top Right Menu-->
          <div class=" ui right floated inverted segment">
            <div class="ui icon top right pointing dropdown button">
              <i class="big align justify icon"></i>
              <div class="menu">
                <a class="item"><i class="large user icon black"></i>My Account</a>
                <a class="item"><i class="large bookmark icon black"></i>My Wishlist</a>
                  <a class="item"><i class="large book icon black"></i>My Books for Sale</a>
                  <a class="item" onclick="logout()"><i class="large sign out alternate icon black"></i>Logout</a>
                <div class="ui section divider"></div>
                <div class="ui red header">Welcome to our Online Store</div>
                <div class="ui section divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Mobile view search and cart-->
    <div class="ui stackable grid mobile only">
      <!--Search Bar and Cart-->
    <div class="row">
      <!--Search Bar-->
        <div class="column">
          <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>

        <!--Cart-->

        <a onclick="cart_display()" class="ui floating labeled teal icon dropdown button">
          <i class="cart arrow down icon"></i>
          <span class="text">Cart(<span class="cartnum">{{cart_num}}</span>)</span>
        </a>
        </div>
    </div>
    </div>
    <!--Left and Right stackable grids -->
    <div class="ui padded four column stackable grid">
      <!--Dummy stackable grid-->
      <div class="one wide column computer only"></div>
      <!--Left stackable grid-->
      <div class="four wide column">
        <div class="ui raised segments">
          <!--Sort by Type in Left stackable grid-->
          <div class="ui teal inverted segment">
              <h3 class="header">CATEGORIES</h3>
          </div>
          <div class="ui segment">
            <div class="ui fluid vertical menu">
            <h4 class="ui top attached disabled header">Sort By Type:</h4>
            <a href="/show_sorted_books_by_tog/type/Magazines/0" class="item">
              Magazines
            </a>
            <a href="/show_sorted_books_by_tog/type/Comics/0" class="item">
              Comics
            </a>
            <div class="ui accordion">
            <div class="title">
            <i class="dropdown icon"></i>
            Books
            </div>
            <div class="content">
            <div class="transition hidden">
                <a class="item" href="/show_sorted_books_by_tog/type/Paperback/0">Paperback</a>
                <a class="item" href="/show_sorted_books_by_tog/type/HardCover/0">Hard Cover</a>
                <a class="item" href="/show_sorted_books_by_tog/type/Ebook/0">Ebook</a>
            </div>
            </div>
            </div>
              </div>
          </div>
          <!--Sort by Genre in Left stackable grid-->
          <div class="ui segment">
            <div class="ui fluid vertical menu">
            <h4 class="ui top attached disabled header">Sort By Genre:</h4>
            <a class="item" href="/show_sorted_books_by_tog/genre/Educational and Professional/0">Educational and Professional</a>
            <a class="item" href="/show_sorted_books_by_tog/genre/Fiction & Non-Fiction/0">Fiction & Non-Fiction</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Philosophy/0">Philosophy</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Religion and Spirituality/0">Religion and Spirituality</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Self Help/0">Self Help</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Hobbies and Interests/0">Hobbies and Interests</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Other/0">Other</a>
              </div>
          </div>
        </div>
  </div><!--Left stackable grid ends-->

      <!--Dummy stackable grid-->
      <div class="one wide column computer only"></div>
      <!--Right stackable grid-->
      <div class="nine wide column">
        <div class="ui stackable grid computer only">
          <!--Search Bar and Cart-->
        <div class="row">
          <!--Search Bar-->
            <div class="thirteen wide column">
              <div class="ui icon fluid big input">
              <input type="text" placeholder="Search...">
              <i class="search icon"></i>
            </div>
            </div>
            <!--Cart-->
            <div class=" column">
              <a onclick="cart_display()" class="ui floating labeled teal icon dropdown big button">
                <i class="cart arrow down icon"></i>
                <span class="text">Cart(<span class="cartnum">{{cart_num}}</span>)</span>
              </a>
            </div>
        </div>
        </div>
        <div class="ui two column stackable grid">
    	<div class="column">
        <div class="segment">
          <img class="ui bordered image" id="imgZoom" width="300px" height="300px" onmousemove="zoomIn(event)" onmouseout="zoomOut()" src="http://ginger-mum.com/wp-content/uploads/2015/10/3633-1269758855-0da5042c33400a811a5d766be4579cb8.jpg">
        </div>
    	</div>
      <div class="column">
          <div id="overlay" onmousemove="zoomIn(event)" style="display:none"></div>
          <div id="hide">
            <span><h3 class="ui header">{{book.bookname}}</h3>by {{book.author}}</span>
            <div class="ui section divider"></div>
            <h3 class="ui header"><span class="discount">&#x20b9;{{book.sp}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="original">&#x20b9;{{book.mrp}}</span></h3>
            <br>
            {{book.description}}</div>
            <br>
             <a class="ui teal button {{disable}}" onclick="add_to_cart({{book.book_id}})" id="{{book.book_id}}"><i class="cart plus icon"></i>Add to Cart</a>
             <div class="ui yellow button"><i class="bookmark icon"></i>Add to Wishlist</div>
      </div>
    </div>
    <!--Related Products-->
    <div class="ui raised segments">
      <div class="ui teal inverted fluid segment">
          <h3 class="header">Related Products</h3>
      </div>
      <div class="ui padded segment">
        <div class="ui three column equal width stackable grid">
          <div class="column">
            <div class="ui container">
              <div class="item">
                <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
              </div>
              <div class="item">
                <span><h4 class="ui header">The Peacan Man </h4>by Author</span><br>
                <span class="discount">&#x20b9;200</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="original">&#x20b9;400</span>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui container">
              <div class="item">
                <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
              </div>
              <div class="item">
                <span><h4 class="ui header">The Peacan Man </h4>by Author</span><br>
                <span class="discount">&#x20b9;200</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="original">&#x20b9;400</span>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui container">
              <div class="item">
                <img class="ui bordered image" src="http://via.placeholder.com/200x200"/>
              </div>
              <div class="item">
                <span><h4 class="ui header">The Peacan Man </h4>by Author</span><br>
                <span class="discount">&#x20b9;200</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="original">&#x20b9;400</span>
              </div>
            </div>
          </div>
    </div>
    </div>
 </div>
  </div>
  <!--footer-->
  <div class="ui inverted bottom attached segment">
    <div class="ui container">
  <i class="copyright outline icon"></i> 2018 ShareMyBook. All Rights Reserved.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a>About us</a>&emsp;&emsp;<a> Contact us</a>
    </div>
  </div>
  </body>
<script type="text/javascript">
$('.ui.dropdown').dropdown({on: 'click'});
$('.ui.image').dimmer({on: 'hover'});
$('.ui.icon.button').popup({on: 'click'});
$('.ui.accordion').accordion('refresh');
</script>
</html>
