<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>ShareMyBook</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png"/>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
     <script src="/javascripts/book_view.js">
     </script>
<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="ui padded stackable grid">
      <div class="one wide black column computer only">
      </div>
      <div class="fifteen wide black column">
        <div class="ui segments">
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img  class="ui image computer only grid"src="http://res.cloudinary.com/yoyousuf67/image/upload/v1523900145/smblogo2.png" alt="Logo"></a>
          </div>
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img class="ui small image mobile only grid" src="http://res.cloudinary.com/yoyousuf67/image/upload/v1523900145/smblogo2.png" alt="Logo"></a>
          </div>
          <!--Top Right Menu-->
          <div class=" ui right floated inverted segment">
            <div class="ui icon top right pointing dropdown button">
              <i class="big align justify icon"></i>
              <div class="menu">
                <a class="item" href="/account_info/account"><i class="large user icon black"></i>My Account</a>
                <a class="item" href="/account_info/wishlist"><i class="large bookmark icon black"></i>My Wishlist</a>
                  <a class="item" href="/account_info/my_books_for_sale"><i class="large book icon black"></i>My Books for Sale</a>
                  <a class="item" onclick="logout()"><i class="large sign out alternate icon black"></i>Logout</a>
                <div class="ui section divider"></div>
                <div class="ui red header">Welcome to our Online Store</div>
                <div class="ui section divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Mobile only checkout>-->
    <div class="ui one column grid mobile only">
      <br>
      <div class="ui padded segment">
        <h3>Subtotal {{cart_len}} Items: &#x20b9;&nbsp;{{book_sp}}</h3>
        <form class="checkout_form" method="post" action="/checkout">
          <button type="submit" class="ui teal button">
            Proceed to checkout
          </button>
          <input type="hidden" name="booksp" value="{{book_sp}}" id="hi">
        </form>
      </div>
      <br>
    </div>
    <!--Left and Right stackable grids -->
    <div class="ui padded stackable grid">
      <!--Dummy stackable grid-->
      <div class="one wide column computer only"></div>
      <!--left stackable grid-->
      <div class="ten wide column">
        <h3 class="ui header">Shopping Cart</h3>
        <div class="ui four column grid computer only">
          <div class="column"></div>
          <div class="column"><h5>Detail</h5></div>
        <div class="column"><h5>Price</h5></div>
        <div class="column"></div>
        </div>
        <hr>
              {{# if condition}}
          <div class="ui one column stackable internally celled grid">
                <div class="column">  <h1>&nbsp;</h1>    </div><div class="column">
                  <div class="column">
                    <h3 class="header">No Books Added to Cart Yet</h3>
                  </div>
                   <h1>&nbsp;</h1>    </div><div class="column">  <h5>&nbsp;</h5>    </div>
                 </div>
              {{/if}}
              {{# each cartproducts as |val key|}}
          <div class="ui four column stackable celled grid">
              <div class="column">
                <a href="/book_view/{{val.book_id}}"><img class="ui bordered image" src="{{val.front_cover}}"/></a>
              </div>
              <div class="column">
                <span><a href="/book_view/{{val.book_id}}"><h4 class="ui header">{{val.bookname}} </h4></a>by {{val.author}}</span>
              </div>
            <div class="column">
              <span class="discount">&#x20b9;{{val.sp}}</span>
            </div>
            <div class="column">
            <a onclick='remove_from_cart("{{val.book_id}}")'>Remove from Cart</a>
            </div>
          </div>
            {{/each}}
<br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div><!--Left stackable grid ends-->

      <!--Dummy stackable grid-->
      <div class="one wide column computer only"></div>
      <!--Right stackable grid-->
      <div class=" ui four wide column grid computer only">
        <br><br><br><br>
        <div class="ui padded segment">
          <h3>Subtotal {{cart_len}} Items: &#x20b9;&nbsp;{{book_sp}}</h3>
          <form class="checkout_form" method="post" action="/checkout">
            <button type="submit" class="ui teal button">
              Proceed to checkout
            </button>
            <input type="hidden" name="booksp" value="{{book_sp}}">
          </form>
          <script type="text/javascript">
              $(".checkout_form").on('submit',function (e) {
                e.preventDefault();
                var cart_arr="";
                {{# each cartproducts as |val key|}}
                cart_arr=cart_arr+"book_id{{key}}={{val.book_id}}&"
                {{/each}}
                cart_arr= cart_arr.slice(0,-1);
                console.log(cart_arr);
                var settings = {
                      "async": true,
                      "crossDomain": true,
                      "url": "https://sharemybook.herokuapp.com/book/book/is_processed?"+cart_arr,
                      "method": "PUT",
                      "headers": {
                        "Cache-Control": "no-cache",
                      }
                    }

                    $.ajax(settings).done(function (response,textStatus, xhr) {
                      if(xhr.status==204){
                        $("body").html("The selected book is under processing. Please try again later or select another book");
                        setTimeout(function () {
                          location.reload();
                        },1000)
                      }else if (xhr.status==200) {
                        console.log("bro");
                        $('<form action="/checkout" method="post"><input type="hidden" name="booksp" value="{{book_sp}}"></form>').appendTo('body').submit();
                      }
                    });
              })
          </script>
        </div>
  </div>
</div>
  <div class="ui inverted vertical footer segment form-page">
    <div class="ui container">
  <i class="copyright outline icon"></i> 2018 ShareMyBook. All Rights Reserved.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a>About us</a>&emsp;&emsp;<a> Contact us</a>
    </div>
  </div>
  </body>
<script type="text/javascript">
$('.ui.dropdown').dropdown({on: 'click'});
$('.ui.image').dimmer({on: 'hover'});
$('.ui.icon.button').popup({on: 'click'});
if($('#hi').val()==0){
$('.ui.teal.button').addClass('disabledbutton');
}
</script>
<script>
function remove_from_cart(book_id) {
  var settings = {
  "async": true,
  "crossDomain": true,
  "url": "https://sharemybook.herokuapp.com/book/remove_from/cart/"+book_id,
  "method": "GET",
  "headers": {
  "cache-control": "no-cache"
  }
  }
$.ajax(settings).done(function (response) {
console.log(response);
cart_display();
});
}
</script>
</html>
