<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>ShareMyBook</title>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
     <script src="/javascripts/book_view.js">
     </script>
<link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="ui padded stackable grid">
      <div class="one wide black column computer only">
      </div>
      <div class="fifteen wide black column">
        <div class="ui segments">
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img  class="ui image computer only grid"src="http://res.cloudinary.com/yoyousuf67/image/upload/v1523900145/smblogo2.png" alt="Logo"></a>
          </div>
          <div class="ui left floated inverted segment">
            <a href="/display_books"><img class="ui small image mobile only grid" src="http://res.cloudinary.com/yoyousuf67/image/upload/v1523900145/smblogo2.png" alt="Logo"></a>
          </div>
          <!--Top Right Menu-->
          <div class=" ui right floated inverted segment">
            <div class="ui icon top right pointing dropdown button">
              <i class="big align justify icon"></i>
                <div class="menu">
                  <a class="item" href="/account_info/account"><i class="large user icon black"></i>My Account</a>
                  <a class="item" href="/account_info/wishlist"><i class="large bookmark icon black"></i>My Wishlist</a>
                    <a class="item" href="/account_info/my_books_for_sale"><i class="large book icon black"></i>My Books for Sale</a>
                    <a class="item" onclick="logout()"><i class="large sign out alternate icon black"></i>Logout</a>
                  <div class="ui section divider"></div>
                  <div class="ui red header">Welcome to our Online Store</div>
                  <div class="ui section divider"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Mobile view search and cart-->
    <div class="ui stackable grid mobile only">
      <!--Search Bar and Cart-->
    <div class="row">
      <!--Search Bar-->
      <div class="column">
        <div class="ui icon input search">
        <input type="text" class="prompt" placeholder="Search...">
        <i class="search icon"></i>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <!--Cart-->
        <a onclick="cart_display()" class="ui floating labeled teal icon dropdown button">
          <i class="cart arrow down icon"></i>
          <span class="text">Cart(<span class="cartnum">{{cart_num}}</span>)</span>
        </a>
        </div>
    </div>
    </div>
    <!--Left and Right stackable grids -->
    <div class="ui padded four column stackable grid">
      <!--Dummy stackable grid-->
      <div class="one wide column computer only"></div>
      <!--Left stackable grid-->
      <div class="four wide column">
        <div class="ui raised segments">
          <!--Sort by Type in Left stackable grid-->
          <div class="ui teal inverted segment">
              <h3 class="header">CATEGORIES</h3>
          </div>
          <div class="ui segment">
            <div class="ui fluid vertical menu">
            <h4 class="ui top attached disabled header">Sort By Type:</h4>
            <a href="/show_sorted_books_by_tog/type/Magazines/0" id="Magazines" class="item">
              Magazines
            </a>
            <a href="/show_sorted_books_by_tog/type/Comics/0" id="Comics" class="item">
              Comics
            </a>
            <div class="ui accordion">
            <div class="title">
            <i class="dropdown icon"></i>
            Books
            </div>
            <div class="content">
            <div class="transition hidden">
                <a class="item" href="/show_sorted_books_by_tog/type/Paperback/0" id="Paperback">Paperback</a>
                <a class="item" href="/show_sorted_books_by_tog/type/Hardcover/0" id="Hard Cover">Hard Cover</a>
                <a class="item" href="/show_sorted_books_by_tog/type/Ebook/0" id="Ebook">Ebook</a>
            </div>
            </div>
            </div>
              </div>
          </div>
          <!--Sort by Genre in Left stackable grid-->
          <div class="ui segment">
            <div class="ui fluid vertical menu">
            <h4 class="ui top attached disabled header">Sort By Genre:</h4>
            <a class="item" href="/show_sorted_books_by_tog/genre/Educational and Professional/0" id="Educational and Professional">Educational and Professional</a>
            <a class="item" href="/show_sorted_books_by_tog/genre/Fiction and Non-fiction/0" id="Fiction and Non-Fiction">Fiction & Non-Fiction</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Philosophy/0" id="Philosophy">Philosophy</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Religion and Spirituality/0" id="Religion and Spirituality">Religion and Spirituality</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Self Help/0" id="Self Help">Self Help</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Hobbies and Interests/0" id="Hobbies and Interests">Hobbies and Interests</a>
              <a class="item" href="/show_sorted_books_by_tog/genre/Other/0" id="Other">Other</a>
              </div>
          </div>
        </div>
  </div><!--Left stackable grid ends-->

      <!--Dummy stackable grid-->
      <div class="one wide column computer only"></div>
      <!--Right stackable grid-->
      <div class="nine wide column">
        <div class="ui stackable grid computer only">
          <!--Search Bar and Cart-->
        <div class="row">
          <!--Search Bar-->
          <div class="thirteen wide column">
            <div class="ui icon fluid big input search">
            <input type="text" class="prompt" placeholder="Search..."/>
            <i class="search icon"></i>
          </div>
          </div>
            <!--Cart-->
            <div class=" column">
              <a onclick="cart_display()" class="ui floating labeled teal icon dropdown big button">
                <i class="cart arrow down icon"></i>
                <span class="text">Cart(<span class="cartnum">{{cart_num}}</span>)</span>
              </a>
            </div>
        </div>
        <!--Carousel-->
        <div class="row">
        <div class="fotorama" data-loop="true" data-autoplay="true" id='pozeGallery'>
        </div>
        </div>
        </div>
       <!--Display Item from related categories-->
         <div class="ui raised segments">
           <div class="ui teal inverted fluid segment">
               <h3 class="header">SELECTED CATEGORY</h3>
           </div>
           <div class="ui padded segment">
             <div class="ui inline cookie nag">
            </div>
             <div class="ui three column equal width stackable celled center aligned grid">
               {{# if condition}}
               <div class="column">
                 <h3 class=header>No Product Added In This Category Yet</h3>
               </div>
               {{/if}}
               {{# each sortedproducts as |val key|}}
               <div class="column">
                 <div class="ui container cart{{val.book_id}} wishlist{{val.book_id}}">
                   <div class="item">
                     <div class="ui blurring image">  <div class="ui dimmer">
                       <div class="content">
                         <a class="ui inverted teal button" onclick='add_to_cart("{{val.book_id}}")'><i class="cart plus icon"></i></a>
                         <a class="ui inverted yellow button" onclick='add_to_wishlist("{{val.book_id}}")'><i class="bookmark icon"></i></a>
                         <a class="ui inverted red button" href="/book_view/{{val.book_id}}">View</a>
                       </div>
                     </div>
                     <img class="ui bordered image" src="{{val.front_cover}}"/>
                   </div>
                   </div>
                   <div class="item">
                     <span><h4 class="ui header">{{val.bookname}}</h4>by {{val.author}}</span><br>
                     <span class="discount">&#x20b9;{{val.sp}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="original">&#x20b9;{{val.mrp}}</span>
                   </div>
                 </div>
               </div>
               {{/each}}
           <div class="ui row">
             <div class="ui section divider"></div>
             <div class="ui borderless menu">
               {{#each datalen as |value keys|}}
              <a class="item" id="{{value}}" href="/show_sorted_books/{{../by_type}}/{{value}}">{{value}}</a>
              {{/each}}
          </div>
           </div>
         </div>
         </div>
      </div>
    </div>
  </div>
  <!--Footer-->
  <div class="ui inverted vertical footer segment form-page">
    <div class="ui container">
  <i class="copyright outline icon"></i> 2018 ShareMyBook. All Rights Reserved.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a>About us</a>&emsp;&emsp;<a> Contact us</a>
    </div>
  </div>
  </body>
  <script type="text/javascript">
    $('.ui.dropdown').dropdown({on: 'click'});
    $('.ui.image').dimmer({on: 'hover'});
    $('.ui.icon.button').popup({on: 'click'});
    $('.ui.accordion').accordion('refresh');
    $('#{{active}}').addClass('active');
    $('#{{active_tog}}').addClass('active teal');
    $('.ui.search').search({
      apiSettings: {
          url: '//sharemybook.herokuapp.com/book/book/search_api?q={query}'
        },
        fields: {
          results : 'data',
          title   : 'bookname',
          description: 'author',
          url     : 'book_id'
        },
        minCharacters : 3
    });
  </script>
</html>
